/* Cheyenne Lowber */

.intro {
    font-size: 1em;
    font-family:'Segoe UI', Tahoma, serif;
}

.interests {
    font-size: 1em;
    font-family:'Segoe UI', Tahoma, serif;
}

.chair {
    align-items: center;
}

main {
    background: linear-gradient(#f9f5f5, #bdbdc433);
	padding: 10px;
	margin: 20px;
	border-radius: 2em;
}